127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.10.151  host-1.cluster.local
192.168.10.152  host-2.cluster.local
192.168.10.153  host-3.cluster.local